Node-RED-flow/flows.json
[{"id":"84d3a115.e7943","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b2482a19.205ad8","type":"mqtt in","z":"84d3a115.e7943","name":"","topic":"arduino/distance","qos":"2","datatype":"auto","broker":"f9cb9cb1.6aaa6","x":122,"y":518,"wires":[["e0cef7f.9bd3308","9c223227.3b774"]]},{"id":"66d49357.5a3d5c","type":"mqtt in","z":"84d3a115.e7943","name":"","topic":"esp32/temp","qos":"2","datatype":"auto","broker":"f9cb9cb1.6aaa6","x":112,"y":308,"wires":[["61b5d166.71c4f","fb5346d.90603b8"]],"outputLabels":["temperature"]},{"id":"f2ec201a.ae0f","type":"mqtt in","z":"84d3a115.e7943","name":"","topic":"esp32/press","qos":"2","datatype":"auto","broker":"f9cb9cb1.6aaa6","x":112,"y":126,"wires":[["f247b04c.8e23b","e1f75f83.a6625"]]},{"id":"e499d398.2851d","type":"mqtt out","z":"84d3a115.e7943","name":"","topic":"esp32/led","qos":"","retain":"","broker":"f9cb9cb1.6aaa6","x":676,"y":518,"wires":[]},{"id":"f247b04c.8e23b","type":"debug","z":"84d3a115.e7943","name":"Pressure","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":452,"y":126,"wires":[]},{"id":"f20866a4.21f968","type":"function","z":"84d3a115.e7943","name":"Temperature Function","func":"var paylTemp = msg.payload\nif (paylTemp <= 30) {\n    msgTemp = {payload: \"Y\"}\n}\nelse if (paylTemp > 30) {\n    msgTemp = {payload: \"R\"}\n}\nelse {\n    msgTemp = {payload: \"O\"}\n}\nreturn msgTemp;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":492,"y":308,"wires":[["cc26b763.d1fbb8"]]},{"id":"61b5d166.71c4f","type":"json","z":"84d3a115.e7943","name":"","property":"payload","action":"","pretty":false,"x":288,"y":308,"wires":[["f20866a4.21f968","1099de4d.100482"]]},{"id":"1099de4d.100482","type":"debug","z":"84d3a115.e7943","name":"Temperature","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":462,"y":238,"wires":[]},{"id":"72c68716.ea0df8","type":"debug","z":"84d3a115.e7943","name":"Distance","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":452,"y":448,"wires":[]},{"id":"cc26b763.d1fbb8","type":"mqtt out","z":"84d3a115.e7943","name":"","topic":"arduino/led","qos":"","retain":"","broker":"f9cb9cb1.6aaa6","x":686,"y":308,"wires":[]},{"id":"4a60d061.18321","type":"function","z":"84d3a115.e7943","name":"Distance Function","func":"var paylDist = msg.payload\nif (paylDist >= 1 && paylDist < 10) {\n    msgDist = {payload: \"g\"}\n}\nelse if (paylDist >= 10 && paylDist < 20) {\n    msgDist = {payload: \"y\"}\n}\nelse if (paylDist >= 20 && paylDist < 30 || paylDist < 1) {\n    msgDist = {payload: \"r\"}\n}\nelse { msgDist = {payload: \"o\"}\n}\nreturn msgDist;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":482,"y":518,"wires":[["e499d398.2851d"]]},{"id":"e0cef7f.9bd3308","type":"json","z":"84d3a115.e7943","name":"","property":"payload","action":"","pretty":false,"x":288,"y":518,"wires":[["4a60d061.18321","72c68716.ea0df8"]]},{"id":"fb5346d.90603b8","type":"ui_gauge","z":"84d3a115.e7943","name":"","group":"aeeb6fac.dc9d1","order":1,"width":"5","height":"5","gtype":"gage","title":"Temperature","label":"ºC","format":"{{value}}","min":"22","max":"33","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":280,"y":238,"wires":[]},{"id":"9c223227.3b774","type":"ui_gauge","z":"84d3a115.e7943","name":"","group":"d447d9a2.4c5118","order":1,"width":"5","height":"5","gtype":"gage","title":"Distance","label":"cm","format":"{{value}}","min":"0","max":"35","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":270,"y":448,"wires":[]},{"id":"e1f75f83.a6625","type":"ui_chart","z":"84d3a115.e7943","name":"","group":"8571ab82.441ad8","order":1,"width":"6","height":"4","label":"Pressure","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"92600","ymax":"93400","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":270,"y":56,"wires":[[]]},{"id":"f9cb9cb1.6aaa6","type":"mqtt-broker","name":"Mosquitto-RPi","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"aeeb6fac.dc9d1","type":"ui_group","name":"ESP32 - BMP180","tab":"812246f3.e07a68","order":2,"disp":true,"width":"6","collapse":false},{"id":"d447d9a2.4c5118","type":"ui_group","name":"Arduino - HCSR04","tab":"812246f3.e07a68","order":3,"disp":true,"width":"6","collapse":false},{"id":"8571ab82.441ad8","type":"ui_group","name":"ESP32 - BMP180","tab":"812246f3.e07a68","order":1,"disp":true,"width":"6","collapse":false},{"id":"812246f3.e07a68","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]